[init]
	defaultBranch = main
[user]
	name = Gene Gurvich
	email = genegurvich@gmail.com
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[core]
	pager = less -F -X
